*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: #add9e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.logo, .link, .login{
    background-color: #dba51f;
    display:flex;
    border:1px dashed black;
}

.logo{
    width: 20%;
    justify-content: flex-start;
}

.login{
    width: 20%;
    justify-content: flex-end;
}

.link{
    width:40%;
    justify-content: center;
}

.link a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.section1{
    background-color:#01008c;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violet{
    background-color: #ee82ef;
    height: 150px;
    width: 50%;
    border:1px dashed black;
}

.section2{
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blue{
    background-color: #1e90ff;
    height: 200px;
    width: 40%;
    border:1px dashed black;
}

.pink{
    background-color: #ffc0cb;
    height: 200px;
    width: 20%;
    border:1px dashed black;
}

.section3{
    background-color:#d3d3d3;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4{
    background-color: #d3d3d3;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color:#228b22;
    height: 550px;
    width: 60%;
    border:1px dashed black;
} 

.section5{
    background-color: #23272a;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top:5px;
    padding-bottom: 20px;
}

.red{
    background-color: #f18180;
    width: 20%;
    border: 1px dashed black;
}

.teal{
    background-color: #20b1aa;
    width: 10%;
    border: 1px dashed white;
}

footer{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    height: 80px;
}

.footer{
    background-color: #81fed6;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50px;
    display: flex;
}

.logo2, .bottone{
    border: 1px black dashed;
    background-color: #f9b5c5; 
}

.bottone input{
    background-color: #f9b5c5;
    border:0;
}

