*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.logo, .link, .login{
    background-color: yellow;
    display:flex;
    border:1px dashed black;
}

.logo{
    width: 20%;
    justify-content: flex-start;
}

.login{
    width: 20%;
    justify-content: flex-end;
}

.link{
    width:40%;
    justify-content: center;
}

.link a{
    margin-right: 10px;
}

.section1{
    background-color:darkblue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violet{
    background-color: violet;
    height: 200px;
    width: 50%;
    border:1px dashed black;
}

.section2{
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;

}

.blue{
    background-color: rgb(110, 110, 246);
    height: 200px;
    width: 20%;
    margin-top: 20px;
    border:1px dashed black;
}

.pink{
    background-color: pink;
    height: 200px;
    width: 10%;
    margin-top: 20px;
    border:1px dashed black;
}

.section3{
    background-color:lightgray;
    height: 300px;
    display: flex;
    justify-content: center;
}

.section4{
    background-color: lightgrey;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color:green;
    height: 300px;
    width: 35%;
    border:1px dashed black;
} 
}

